@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather:wght@300&family=Quicksand&display=swap');

:root {
  --font-body-family: Karla, sans-serif;
  --font-heading-family: Merriweather, serif;
  --color-off-white: #f9f4ef;
  --color-off-black: #1d1d1b;
  --color-mint: #9bcfb9;
  --color-orange: #e19a33;
  --color-purple: #debbcd;
}

* {
  font-family: var(--font-body-family);
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  padding: 0;
}

a {
  color: var(--color-mint);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: var(--color-purple);
  transition: 0.3s;
}

.footer-a {
  color: var(--color-off-white);
}

body {
  background-color: var(--color-off-white);
}

h1 {
  font-family: var(--font-heading-family);
  margin: 2vw 0;
  font-size: 3vw;
}

p {
  margin: 1vw 0;
  font-size:calc(5px + 1.5vw);
}

.home-container {
  margin: 10vw 7vw 12vw;
  width: 40vw;
}

.home-container > h1 {
  color: var(--color-orange);
  width: 38vw;
}

.deco {
  margin-bottom: -5px;
  width: 100%;
}

.about-container {
  background-color: var(--color-mint);
  color: var(--color-off-white);
  padding: 7vw;
}

.about-container > .text-block {
  margin: 0;
  width: 37vw;
}

.about-container > .text-block-small {
  margin-left: 1vw;
  margin-bottom: 1vw;
  column-count: 2;
  width: 35vw;
  font-size:calc(3px + 1.3vw);
}

.resume-link {
	color: var(--color-off-white);
}

.resume-link:hover {
	color: var(--color-orange);
}

.about-img {
  position: absolute;
  width: 30vw;
  top: 25vw;
  right: 0;
  margin-right: 10vw;
}

.project-container {
  margin: 12vw 7vw 14vw;
}

.project-container > h1 {
  color: var(--color-purple);
}

.contact-container {
  background-color: var(--color-purple);
  color: var(--color-off-white);
  padding: 7vw;
}

.footer {
  background-color: var(--color-purple);
  color: var(--color-off-white);
  text-align: center;
  margin: 0;
}

.footer > p {
  padding: 1vw;
  margin: 0;
}

@media only screen and (max-width: 825px) {
  h1 {
    margin: 20px 0;
    font-size: 42px;
    width: 100%;
  }

  p {
    margin: 20px 0;
    font-size: 18px;
  }

  .about-img {
    display: block;
    position: relative;
    width: 48vw;
    top: 0;
    margin: 0 auto -80px;
  }
  
  .home-container {
    width: 100%;
    max-width: fit-content;
    padding: 0px;
    margin-bottom: 10vw;
  }

  .home-container > h1, .text-block {
    width: 100%;
  }

  .about-container {
    padding: 90px 7vw 70px;
  }

  .about-container > .text-block {
    margin: 0;
    width: 100%;
  }

  .about-container > .text-block-small {
    margin-left: 15px;
    width: 320px;
    font-size: 16px;
  }

  .project-container {
    margin: 100px 7vw;
  }

  .contact-container {
    padding: 60px 7vw 40px;
  }

  .footer > p {
    padding: 10px;
  }

  .footer > p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 460px) {
  h1 {
    font-size: 9.2vw;
  }

  .about-container > .text-block-small {
    font-size: 14px;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 9vw;
  }
  
  p {
    font-size: 16px;
  }
}